.about{
    margin-top: 20px;
    background-color:#0006B1;
    color: #fff;
    padding: 80px 40px;

}
.about-head{
    text-align: center;
}

.about_write_up{
    text-align: center;
    font-size: 23px;
}
.about-head h1{
    font-size: 50px;
}

 .download{
      text-align: center;
      margin-top: 1rem;

 }
  
  .download_prospectus{
      background-color: #196fe0;
      padding: .5rem;
      border-radius:10px;
      color: #fff ;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }