.business_banking{
    margin-top: 20px;
}

.business_banking_cards{
    display:flex;
    justify-content: space-between; 
    align-items: center;      
    padding:60px 40px;
    margin-top: 20px;
}
.business_banking_header{
    text-align: center;
}
.business_banking_header h1{
    font-size: 50px;    
}
.card-head{
    margin-top: 15px;
}
.card-head h4{
    font-size: 30px;
}

.card-body{
    margin-top: 15px;
}
.card-body p{
    font-size: 20px;
}

.card{
    max-width: 100%;
    width:500px
}

/* responsive design */
@media only screen and (max-width: 600px) {
  .business_banking_cards {
   flex-direction: column;
  }
  .card{
      text-align: center;
  }
}