.contact-form{
    padding:2rem 5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 10px;
}
.agreement{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.agreement p{
    margin-left: 10px;
}
.input{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
input{
    height: 2rem;
    /* border:0px 0px; */
    border-top: 0px; 
    border-left: 0px; 
    border-right: 0px; 
    border-bottom: 1px solid; 
}
input:focus{
    outline: none;
}
.submit{
    margin-top: 10px;
}

.submit button{
    padding: .5rem 2rem;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #196fe0;
}
input::placeholder{
    text-transform: capitalize;
}